@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@400;500;600;700&display=swap');

* {
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

:root {
    --logo-fany: 40px;
    --texto-parrafos: 20px;
    --texto-nav: 18px;
    --texto-cambiante: 100px;
    --texto-cambiante-peq: 80px; 
    --texto-cambiante-pequeño: 60px; 
    --subtitulo-grande: 40px;
    --subtitulo-pequeño: 30px;
}


.bloq-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.185); /* Un poco de transparencia */
    backdrop-filter: blur(50px); /* Efecto de desenfoque */
    z-index: 1000; /* Asegura que esté por encima del contenido */
}

.c {
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
}

.bloq-content div img{
    height: 17vh;
    width: auto;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: center;
}

.centrado div {
    width: fit-content;
}

.ajustefinal {
    margin-top: -40px;
}





