@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

:root {
    --logo-fany: 35px;
    --texto-parrafos: 20px;
    --texto-nav: 18px;
    --texto-cambiante: 100px;
    --texto-cambiante-peq: 80px; 
    --texto-cambiante-pequeño: 60px; 
    --subtitulo-grande: 40px;
    --subtitulo-pequeño: 30px;
}

header {
    display: flex;
    justify-content: space-around;
}

.texto-logo{
    margin-left: 30px;    
    font-family: "DM Serif Display", serif;
    font-weight: 500;
    font-style: italic;
    font-size: var(--logo-fany);
    min-width: fit-content;
}

.texto-logo a {
    color: black;
}

nav {
    z-index: 999;
}

nav ul{
    display: flex;
    margin-top: 10px;
}

nav ul li {
    margin-left: 50px;
    list-style: none;
}

nav ul li a{
    height: 100%;
    color: black;
}

.sidebar {
    font-size: 20px;
    width: 100%;
    margin-top: 0px;
    padding-top: 30px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.782);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
}

.sidebar li {
    margin: 20px 20px 0 20px
    ;
}

.sidebar li a{
    color: white;
}

.menu-button {
    margin-top: -12px;
    display: none;
    padding: 10px;
}


.sidebar .icono-x{
    margin-bottom: 20px;
}

@media(max-width: 1070px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }

    header {
        justify-content: space-around;
    }
    .end-nav nav {
        display: none;
    }
    .end-nav div {
        display: flex;
    }
  }



.hover a {
    transition: all;
    transition-duration: 1s;
}

.hover a:hover {
    color: rgb(180, 180, 180);
    transition: all;
    transition-duration: .5s;
}

.hero {
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.hero p {
    font-size: var(--texto-cambiante-peq);
    color: white;
    font-weight: 600;
}

.last-things{
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    font-size: var(--texto-parrafos);
    text-align: justify;
}



.me-images{
    width: 900px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.me-images div {
    width: 90%;
    margin: 50px auto;
}

.main-images img {
    border-radius: 5px;
    width: 90%;
}

.main-images p {
    max-width: 300px;
    font-family: "Raleway", sans-serif;
    color: rgb(160, 160, 160);
    margin: auto;
    text-align: center;
}

@media(max-width: 915px){
    .me-images{
        flex-wrap: wrap;
        width: 100%;
    }
    .main-images img {
        border-radius: 5px;
        width: 100%;
    }
}


.end-nav{
    padding-top: 150px;
    margin: auto;
}

.end-nav nav ul {
    display: flex;
}

.end-nav div{
    width: 100%;
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
}

.end-nav div a{
    color: white;
    font-size: var(--texto-parrafos);
    font-weight: 600;
}
